// Rem output with px fallback
@mixin size($property, $value: 1.6, $right : "", $bottom : "", $left : "") { 
	$px-val : ($value * 10) + px;
	$rem-val : $value + rem;

	@if $right != "" {
		$px-val : $px-val (($right * 10) + px);
		$rem-val : $rem-val ($right + rem);
	}

	@if $bottom != "" {
		$px-val : $px-val (($bottom * 10) + px);
		$rem-val : $rem-val ($bottom + rem);
	}

	@if ($left) != "" {
		$px-val : $px-val (($left * 10) + px);
		$rem-val : $rem-val ($left + rem);
	}

	#{$property}: $px-val;
	#{$property}: $rem-val;
}
@mixin width($value) {
	@include size(width, $value);
}
@mixin max-width($value) {
	@include size(max-width, $value);
}
@mixin height($value) {
	@include size(height, $value);
}
@mixin max-height($value) {
	@include size(max-height, $value);
}
@mixin padding($value, $right : "", $bottom : "", $left : "") {
	@include size(padding, $value, $right, $bottom, $left);
}
@mixin padding-top($value) {
	@include size(padding-top, $value);
}
@mixin padding-bottom($value) {
	@include size(padding-bottom, $value);
}
@mixin padding-right($value) {
	@include size(padding-right, $value);
}
@mixin padding-left($value) {
	@include size(padding-left, $value);
}
@mixin margin($value, $right : "", $bottom : "", $left : "") {
	@include size(padding, $value, $right, $bottom, $left);
}
@mixin margin-top($value) {
	@include size(margin-top, $value);
}
@mixin margin-bottom($value) {
	@include size(margin-bottom, $value);
}
@mixin margin-right($value) {
	@include size(margin-right, $value);
}
@mixin margin-left($value) {
	@include size(margin-left, $value);
}
@mixin left($value) {
	@include size(left, $value);
}
@mixin right($value) {
	@include size(right, $value);
}
@mixin top($value) {
	@include size(top, $value);
}
@mixin bottom($value) {
	@include size(bottom, $value);
}
@mixin font-size($value) {
	@include size(font-size, $value);
}